*{
margin: 0px;
padding: 0px;
}



body{
background-color: #747F8C;
height:100vh;
display: flex;
align-items: center;
justify-content:center;
}
.sistema{
    height: 600px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
    background-color: #F2F2F2;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#menu{
    
    background-color: #8D9AA6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.navbnt{
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
cursor: pointer;
}
.navbnt>img{
height: 30px;
margin: 5px;
filter: brightness(0) invert(1);
}

.navbnt:hover img {
transform: scale(1.3);
transition: 0.2s;

}


.navbnt>h2{
color: white;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-size: 7px;

}

#bnt_institutions:hover{
    background-color:#F2F2F2;
    color: #828284;
    
}


#dashboard{
    width: 100%;
    height: 100%;
    background-color:#F2F2F2;
    padding-left: 50px;
    padding-right: 50px;
    overflow-y:scroll;
    display: none;
    
}

#inftop{
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-between;
height: 100px;
flex-wrap: wrap;


}

#inftop>h1{
font-family: Arial, Helvetica, sans-serif;
color: #595959;
}
#selectop>select{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}
#OpInstitute{
background-color:#717C88;
color: white;
}
#database1{
    border-radius: 15px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.CardDatabase1{
height: 90px;
width: 160px;
margin-bottom: 10px;
background-color: white;
display: flex;
align-items: center;
justify-content:center;
animation: bounceIn;
animation-duration: 0.5s;
}
.Ptextocardtop{
font-size: 12px;
margin: 10px;
}
.CardDatabase1>img{
height: 30px;
animation: bounceIn;
animation-duration: 2s;
}
.CardDatabase1>div>p{
font-family: Arial, Helvetica, sans-serif;
color: #828284;


}
.NdataCard{
font-size: 15px;
margin: 10px;
font-weight: bolder;
}

.SgraficosD1{
margin-top: 20px;
display: flex;
justify-content:space-around;
flex-wrap: wrap;


}
#ValueAnalysis{
min-height: 200px;
width: 50vw;
max-width: 450px;
background-color: white;
padding: 20px;
margin-bottom: 10px;

}
#graficos2e3{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50vw;
max-width: 450px;

}
#attendance{
    height: 120px;
    
    background-color: white;
    
}
#CustomerSatisfaction{
    height: 120px;

    background-color: white;
}






::-webkit-scrollbar-thumb{
    display: none;
}
::-webkit-scrollbar{
    background-color:#F2F2F2;
    display: none;
} 